In [18]:
import pandas as pd
import numpy as np

In [19]:
races = pd.read_csv('races.csv')
results = pd.read_csv('results.csv')
qualifying = pd.read_csv('qualifying.csv')
driver_standings = pd.read_csv('driver_standings.csv')
constructor_standings = pd.read_csv('constructor_standings.csv')
weather = pd.read_csv('weather.csv')

In [20]:
print(races.shape)
races.head()

(215, 8)

,season,round,circuit_id,lat,long,country,date,url
0,2009,1,albert_park,-37.84970,144.96800,Australia,2009-03-29,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2009,2,sepang,2.76083,101.73800,Malaysia,2009-04-05,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,2009,3,shanghai,31.33890,121.22000,China,2009-04-19,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,2009,4,bahrain,26.03250,50.51060,Bahrain,2009-04-26,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,2009,5,catalunya,41.57000,2.26111,Spain,2009-05-10,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [21]:
print(results.shape)
results.head()

(4637, 13)

,season,round,circuit_id,driver,date_of_birth,nationality,constructor,grid,time,status,points,podium,url
0,2009,1,albert_park,button,1980-01-19,British,brawn,1,5655784.0,Finished,10.0,1,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2009,1,albert_park,barrichello,1972-05-23,Brazilian,brawn,2,5656591.0,Finished,8.0,2,http://en.wikipedia.org/wiki/2009_Australian_G...
2,2009,1,albert_park,trulli,1974-07-13,Italian,toyota,20,5657388.0,Finished,6.0,3,http://en.wikipedia.org/wiki/2009_Australian_G...
3,2009,1,albert_park,glock,1982-03-18,German,toyota,19,5660219.0,Finished,5.0,4,http://en.wikipedia.org/wiki/2009_Australian_G...
4,2009,1,albert_park,alonso,1981-07-29,Spanish,renault,10,5660663.0,Finished,4.0,5,http://en.wikipedia.org/wiki/2009_Australian_G...

In [22]:
print(qualifying.shape)
qualifying.rename(columns = {'grid_position': 'grid'}, inplace = True)
qualifying.head()

(4581, 6)

,grid,driver_name,car,qualifying_time,season,round
0,1,Jenson Button BUT,Brawn Mercedes,1:26.202,2009,1
1,2,Rubens Barrichello BAR,Brawn Mercedes,1:26.505,2009,1
2,3,Sebastian Vettel VET,RBR Renault,1:26.830,2009,1
3,4,Robert Kubica KUB,Sauber BMW,1:26.914,2009,1
4,5,Nico Rosberg ROS,Williams Toyota,1:26.973,2009,1

In [23]:
driver_standings.drop(['driver_points_after_race', 'driver_wins_after_race', 'driver_standings_pos_after_race'] ,axis = 1, inplace = True)

print(driver_standings.shape)
driver_standings.head()

(4856, 6)

,season,round,driver,driver_points,driver_wins,driver_standings_pos
0,2009,1,button,0.0,0.0,0.0
1,2009,1,barrichello,0.0,0.0,0.0
2,2009,1,trulli,0.0,0.0,0.0
3,2009,1,glock,0.0,0.0,0.0
4,2009,1,alonso,0.0,0.0,0.0

In [24]:
constructor_standings.drop(['constructor_points_after_race', 'constructor_wins_after_race','constructor_standings_pos_after_race' ],axis = 1, inplace = True)

print(constructor_standings.shape)
constructor_standings.head()

(620, 6)

,season,round,constructor,constructor_points,constructor_wins,constructor_standings_pos
0,2017,1,ferrari,0.0,0.0,0.0
1,2017,1,mercedes,0.0,0.0,0.0
2,2017,1,red_bull,0.0,0.0,0.0
3,2017,1,williams,0.0,0.0,0.0
4,2017,1,force_india,0.0,0.0,0.0

In [25]:
print(weather.shape)
weather.head()

(215, 9)

,season,round,circuit_id,weather,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy
0,2009,1,albert_park,Sunny with temperatures reaching up to 27 °C (...,1,0,0,0,0
1,2009,2,sepang,"Dry start, with heavy rain and thunderstorm/mo...",0,0,1,1,0
2,2009,3,shanghai,Rain,0,0,0,1,0
3,2009,4,bahrain,Sunny,1,0,0,0,0
4,2009,5,catalunya,"Warm, Sunny",1,0,0,0,0

In [26]:
df1 = pd.merge(races, weather, how='inner', on=['season', 'round', 'circuit_id']).drop(['lat', 'long','country','weather'], axis = 1)
df2 = pd.merge(df1, results, how='inner', on=['season', 'round', 'circuit_id', 'url']).drop(['url','points', 'status', 'time'], axis = 1)

df3 = pd.merge(df2, driver_standings, how='left', on=['season', 'round', 'driver']) 
df4 = pd.merge(df3, constructor_standings, how='left', on=['season', 'round', 'constructor']) #from 1958

final_df = pd.merge(df4, qualifying, how='inner', on=['season', 'round', 'grid']).drop(['driver_name', 'car'], axis = 1) #from 1983

In [27]:
final_df.head()

,season,round,circuit_id,date,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,driver,...,constructor,grid,podium,driver_points,driver_wins,driver_standings_pos,constructor_points,constructor_wins,constructor_standings_pos,qualifying_time
0,2009,1,albert_park,2009-03-29,1,0,0,0,0,button,...,brawn,1,1,0.0,0.0,0.0,NaN,NaN,NaN,1:26.202
1,2009,1,albert_park,2009-03-29,1,0,0,0,0,barrichello,...,brawn,2,2,0.0,0.0,0.0,NaN,NaN,NaN,1:26.505
2,2009,1,albert_park,2009-03-29,1,0,0,0,0,alonso,...,renault,10,5,0.0,0.0,0.0,NaN,NaN,NaN,1:25.605
3,2009,1,albert_park,2009-03-29,1,0,0,0,0,rosberg,...,williams,5,6,0.0,0.0,0.0,NaN,NaN,NaN,1:26.973
4,2009,1,albert_park,2009-03-29,1,0,0,0,0,buemi,...,toro_rosso,13,7,0.0,0.0,0.0,NaN,NaN,NaN,1:26.503

In [28]:
# calculate age of drivers

from dateutil.relativedelta import *

final_df['date'] = pd.to_datetime(final_df.date)
final_df['date_of_birth'] = pd.to_datetime(final_df.date_of_birth)
final_df['driver_age'] = final_df.apply(lambda x: relativedelta(x['date'], x['date_of_birth']).years, axis=1)
final_df.drop(['date', 'date_of_birth'], axis = 1, inplace = True)

In [29]:
# fill/drop nulls

for col in ['driver_points', 'driver_wins', 'driver_standings_pos', 'constructor_points', 
            'constructor_wins' , 'constructor_standings_pos']:
    final_df[col].fillna(0, inplace = True)
    final_df[col] = final_df[col].map(lambda x: int(x))
    
final_df.dropna(inplace = True )

In [30]:
# convert to boolean

for col in ['weather_warm', 'weather_cold','weather_dry', 'weather_wet', 'weather_cloudy']:
    final_df[col] = final_df[col].map(lambda x: bool(x))

In [31]:
# calculate difference in qualifying times

final_df['qualifying_time'] = final_df.qualifying_time.map(lambda x: 0 if str(x) == '00.000' 
                             else(float(str(x).split(':')[1]) + (60 * float(str(x).split(':')[0])) if x != 0 else 0))
final_df = final_df[final_df['qualifying_time'] != 0]
final_df.sort_values(['season', 'round', 'grid'], inplace = True)
final_df['qualifying_time_diff'] = final_df.groupby(['season', 'round']).qualifying_time.diff()
final_df['qualifying_time'] = final_df.groupby(['season', 'round']).qualifying_time_diff.cumsum().fillna(0)
final_df.drop('qualifying_time_diff', axis = 1, inplace = True)

In [32]:
# get dummies

df_dum = pd.get_dummies(final_df, columns = ['circuit_id', 'nationality', 'constructor'] )

for col in df_dum.columns:
    if 'nationality' in col and df_dum[col].sum() < 140:
        df_dum.drop(col, axis = 1, inplace = True)
        
    elif 'constructor' in col and df_dum[col].sum() < 140:
        df_dum.drop(col, axis = 1, inplace = True)
        
    elif 'circuit_id' in col and df_dum[col].sum() < 70:
        df_dum.drop(col, axis = 1, inplace = True)
    
    else:
        pass

In [33]:
df_dum.shape

(4397, 61)

In [34]:
df_dum.to_csv('final_df.csv', index = False)